li{
    list-style: none;
    margin-left: 20px;
}

.main {
    /* height: 80vh;
    width: 96vw;
    margin-left: 1.5vw;
    margin-right: 2.5vw; */
    text-align: center;
}
.main>img{
    height: 100vh;
    width: 96vw;
}
.navbar>nav{
    justify-content: space-between;
    display: flex;
}
ul{
    display: flex;
}
.container{
    margin-top: 2rem;
    display: flex;
}
.footer{
    color: aliceblue;
    background-color: black;
    height: 105px;
     text-align: center;
     margin-bottom: 0px;

}
.footer>p{
    font-size: 25px;
}
.container>div{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: rgb(196, 10, 41);
}
a:visited{
    text-decoration: none;
    color: rgb(2, 2, 19);
}
a:hover{
    color: brown;
    font-size: larger;
}
